h1 {
  text-shadow: 2px 2px 5px red;
}

.box {
  width: 200px;
  height: 200px;
  background: blue;
  margin: 20px;
  box-shadow: 2px 3px 5px green;
  transition: all 2s ease-in-out;
}

.box:hover {
  -webkit-box-shadow: 20px -8px 37px 20px rgba(0, 0, 0, 0.75);
  -moz-box-shadow: 20px -8px 37px 20px rgba(0, 0, 0, 0.75);
  box-shadow: 20px -8px 37px 20px rgba(0, 0, 0, 0.75);
}
